[submodule "ThirdParty/AsiHttpRequest"]
	path = ThirdParty/AsiHttpRequest
	url = https://github.com/pokeb/asi-http-request.git
[submodule "ThirdParty/SBJson"]
	path = ThirdParty/SBJson
	url = https://github.com/stig/json-framework.git
[submodule "ThirdParty/UIColorUtilities"]
	path = ThirdParty/UIColorUtilities
	url = git@github.com:papaver/uicolor-utilities.git
[submodule "ThirdParty/Facebook"]
	path = ThirdParty/Facebook
	url = https://github.com/facebook/facebook-ios-sdk.git
[submodule "ThirdParty/JsonKit"]
	path = ThirdParty/JsonKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "ThirdParty/SVProgressHUD"]
	path = ThirdParty/SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
[submodule "ThirdParty/EGOTableViewPullRefresh"]
	path = ThirdParty/EGOTableViewPullRefresh
	url = git@github.com:papaver/EGOTableViewPullRefresh.git
[submodule "ThirdParty/WEPopover"]
	path = ThirdParty/WEPopover
	url = https://github.com/papaver/WEPopover.git
